# Many To Many Relation

## Student

| id(PK) | name      |
| ------ | --------- |
| INT    | CharField |



## Enrollment

| id(PK) | student_id (FK - Student) | lecture_id (FK - Lecture) |
| ------ | ------------------------- | ------------------------- |
| INT    | INT                       | INT                       |



## Lecture

| id(PK) | title     |
| ------ | --------- |
| INT    | CharField |

In [1]:
# Student.objects.create(name="우너")
# Student.objects.create(name="지또니")
# Student.objects.create(name="상추")
# Student.objects.create(name="또로미")
# Student.objects.create(name="재영장")

In [2]:
# Lecture.objects.create(title="파이썬")
# Lecture.objects.create(title="자바")

In [4]:
# Enrollment.objects.create(student_id=1, lecture_id=1)
# Enrollment.objects.create(student=Student.objects.get(id=1), lecture=Lecture.objects.get(id=1))
# Enrollment.objects.create(student=Student.objects.get(id=1), lecture=Lecture.objects.get(id=2))
# Enrollment.objects.create(student=Student.objects.get(id=2), lecture=Lecture.objects.get(id=1))
# Enrollment.objects.create(student=Student.objects.get(id=2), lecture=Lecture.objects.get(id=2))
# Enrollment.objects.create(student=Student.objects.get(id=3), lecture=Lecture.objects.get(id=1))
# Enrollment.objects.create(student=Student.objects.get(id=3), lecture=Lecture.objects.get(id=2))
# Enrollment.objects.create(student=Student.objects.get(id=4), lecture=Lecture.objects.get(id=1))
# Enrollment.objects.create(student=Student.objects.get(id=5), lecture=Lecture.objects.get(id=1))

In [12]:
우너 = Student.objects.get(name="우너")
우너.enrollment_set.all()

In [16]:
파이썬 = 우너.enrollment_set.first()
print(파이썬.student)
print(파이썬.lecture.title)

1 : 우너
파이썬

In [18]:
# 수업 여러 개 듣는 사람 1명을 student에 저장합니다
for student in Student.objects.all():
    if len(student.enrollment_set.all()) > 1:
        break

In [19]:
# student의 수업들의 제목을 출력하는 for문을 작성해보세요
for enrollment in student.enrollment_set.all():
    print(enrollment.lecture.title)

파이썬
자바

In [21]:
# student의 수업들 중 제목이 n 글자가 넘는 수업의 제목을 출력하세요
for enrollment in student.enrollment_set.all():
    if len(enrollment.lecture.title) > 2:
        print(enrollment.lecture.title)

파이썬

In [1]:
Hotel.objects.all()

<QuerySet [<Hotel: 1 : Smith-Bryant>, <Hotel: 2 : Hamilton Inc>, <Hotel: 3 : Fischer-Ayala>, <Hotel: 4 : Bailey, Meadows and Weber>, <Hotel: 5 : Boyer, Reed and Hays>, <Hotel: 6 : Jackson, Sutton and Ramos>, <Hotel: 7 : Green-Cooper>, <Hotel: 8 : Cox, Colon and Hardy>, <Hotel: 9 : Barnes, Proctor and Turner>, <Hotel: 10 : Braun and Sons>]>

In [2]:
Client.objects.all().values("name")

<QuerySet [{'name': 'Daniel Villa'}, {'name': 'Dean Hernandez'}, {'name': 'Debra Mccarthy DDS'}, {'name': 'Diane Mccoy'}, {'name': 'Marissa Burke'}, {'name': 'Paul Ross'}, {'name': 'Rebecca Baird DDS'}, {'name': 'Samantha Moore'}, {'name': 'Timothy Mitchell'}, {'name': 'Tony Stanley'}]>

In [3]:
for client in Client.objects.all():
    if client.hotels.count() == 0:
        break

In [9]:
Hotel.dummy(1)

In [23]:
new_hotel = Hotel.objects.last()

new_hotel.clients.add(Client.objects.get(id=2), Client.objects.get(id=3), Client.objects.get(id=5))

new_hotel.clients.all().filter(name__contains="h")

In [27]:
Hotel.objects.get(id=new_hotel.id)

In [4]:
client.hotels.all()

In [5]:
client = Client.objects.get(id=3)

client.hotels.all()
client.hotels.add(Hotel.objects.get(id=2), Hotel.objects.get(id=3), Hotel.objects.get(id=5))
client.hotels.all().values("name")