### One To Many model

### Writer

| id      | name      |
| ------- | --------- |
| PK, INT | CharField |



### Book

| id      | author          | title     | description |
| ------- | --------------- | --------- | ----------- |
| PK, INT | FK, Writer, INT | CharField | TextField   |

In [55]:
Writer.objects.create(name="박경리")

# writers = Writer.objects.filter(name="박경리")
# 이름이 박경리인 모든 객체를 list로 내보낸다 (정확하게는 QuerySet)
parks_writers_family = Writer.objects.filter(name__contains="박")

parks_writers_family

In [3]:
Book.objects.create(title="토지", description="길고 좋은 이야기", author=Writer.objects.first())

In [27]:
Book.objects.create(title="불신시대", description="좋고 긴 이야기", author=Writer.objects.first())

In [4]:
writer = Writer.objects.get(id=1)
book1 = Book.objects.first()
book2 = Book.objects.last()

In [5]:
writer.name

'박경리'

In [13]:
book1.author.name

'박경리'

In [12]:
book2.author

```
"토지"를 너무 감명 깊게 봐서
1) 전체 책에서 "토지"라는 제목의 책을 찾는다.
2) 이 책의 작가 이름을 찾는다.
3) 작가 중에 그 이름을 가진 사람을 찾는다.
4) 전체 책에서 그 작가의 책을 전부 가져온다.
```

In [47]:
book = Book.objects.get(title="토지")
writer = book.author.name
writers = Writer.objects.get(name=writer)

In [48]:
print(book)
print(writer)
print(writers)

1. 박경리 : 토지
박경리
1 : 박경리

In [51]:
book_list = Book.objects.filter(author=writers)
book_list

In [52]:
writers.book_set.all()

In [36]:
Book.objects.filter(author=Book.objects.get(title="토지").author)